<!doctype html>
<html>
  <head>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "OT Equipment Info" %></title>
    <%= partial "layouts/head" %>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "layouts/footer" %>
  </body>
</html>
