<!doctype html>
<html>
  <head>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "OT Equipment Info" %></title>
    <%= partial "layouts/head" %>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "layouts/footer" %>
    <%= partial "layouts/googleanalytics" %>
    <!--- Survey Monkey pop-up -->
    <script>(function(t,e,n,c){var o,s,p;t.SMCX=t.SMCX||[],e.getElementById(c)||(o=e.getElementsByTagName(n),s=o[o.length-1],p=e.createElement(n),p.type="text/javascript",p.async=!0,p.id=c,p.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/VZ3ltwpm7geUMnBIw3M13pypbDl7a_2Fzj2aOb4h1_2BdzuW5TwxxjKMPzrpwNcKxM9r.js"].join(""),s.parentNode.insertBefore(p,s))})(window,document,"script","smcx-sdk");</script>
  </body>
</html>
