<!doctype html>
<html>
  <head>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "OT Equip" %></title>
    <%= partial "layouts/head" %>

  </head>

  <body class="<%= page_classes %>">
    <div><%= yield %></div>
    <hr/>
    <%= partial "layouts/footer" %>
  </body>
</html>
