---
title: OT Equip
pageable: true
per_page: 10
---

<div class="header">
  <link rel="stylesheet" href="/stylesheets/headers.css">
  <h1>OT Equip</h1>
  <h2>From one Occupational Therapist to another</h2>
  <h3><ul class="menu">
      <li href="/about.html">About</li>
  </ul>
  </h3>
</div>


<div class="container">
  <div class="main-content-area">
    <!--<div class="pagination-top">-->
    <!--  <% if paginate && num_pages > 1 %>-->
    <!--    <p>Page <%= page_number %> of <%= num_pages %></p>-->
      
    <!--  <% if paginate %>-->
    <!--  <% if prev_page %>-->
    <!--    <p><%= link_to '<< Previous page', prev_page %></p>-->
      
    <!--  <% if paginate %>-->
    <!--  <% if next_page %>-->
    <!--    <p><%= link_to 'Next page >>', next_page %></p>-->
        
    <!--  <% end %>-->
    <!--  <% end %>-->
    <!--  <% end %>-->
    <!--  <% end %>-->
    <!--  <% end %>-->
    <!--</div>-->
  
    <div class="article">
      <% page_articles.each_with_index do |article, i| %>
        <h1><%= link_to article.title, article %> </h1>
        <div class="date"><%= article.date.strftime('%e %b, %Y') %></div>
        <!-- use article.summary(250) if you have Nokogiri available to show just
         the first 250 characters -->
         
        <div class="summary">
          <% if article.data.preview %>
            <% link_to article do %>
              <img class="preview" src="<%=article.data.preview %>" alt="Preview" style="width:600px;">
            <% end %>
          <% end %>
    
          <%= article.summary(300) %> 
          <%= link_to 'Read more', article %>
          <hr />
        </div>
      <% end %>
    </div>
  
    
    <div class="pagination-bottom">
    <% if paginate %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>
    </div>
  </div>
    <%= partial "layouts/sidebar" %>
</div>
