---
title: OT Equipment Info
pageable: true
per_page: 10
---

<div class="header">
  <link rel="stylesheet" href="stylesheets/headers.css">
  <h1>OT Equipment Info</h1>
  <h2>Equipping Occupational Therapists with independent product reviews</h2>
  <h3><ul class="menu">
      <a href="/about.html">About</a>
  </ul>
  </h3>
</div>

<div>
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>
</div>

<div class="article">
<% page_articles.each_with_index do |article, i| %>
  <h1><%= link_to article.title, article %> </h1>
  <div class="date"><%= article.date.strftime('%e %b, %Y') %></div>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <!-- %= thumb_tag '/posts/2015-09-11-dragon-dictation/plantronics-girl-1.jpg', '150x150#', class: 'thumbnail' %> -->
  
  <% if article.data.preview %>
    <img class="preview" src="<%=article.data.preview %>" alt="Preview" style="width:400px;">
  <% end %>
  
  <%= article.summary(350) %> 
  <%= link_to 'Read more', article %>
  <hr />
<% end %>
</div>

<div>
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
</div>

<%= partial "layouts/googleanalytics" %>
